.users-container{
    border: 1px solid black;
    width: 600px;
    height: 600px;
    display: flex;
}
.available-users-container, .selected-users-container{
    border: 1px solid black;
    flex: 0.5;
}

.move-users{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}